<ul class="nav nav-pills mb-3 justify-content-end" id="pills-tab" role="tablist"
    style="margin:10px 10px 10px 10px;">
  <li class="nav-item">
    <a class="nav-link" id="pills-search-tab" data-toggle="pill" href="search" role="tab" routerLink="search" routerLinkActive="active"
       aria-controls="pills-search" aria-selected="true">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-favorites-tab" data-toggle="pill" href="favorite" role="tab" routerLink="favorite" routerLinkActive="active"
       aria-controls="pills-favorites" aria-selected="false">Favorites</a>
  </li>
</ul>
